<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>

        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h1>Hello admin,<span th:text="${session.name}"></span>!</h1>
                        <table class="table table-hover">
                            <tr>
                                <th>Admin Id</th>
                                <th>Name</th>
                                <th>Phone Number</th>
                            </tr>
                            <tr th:each="admin : ${homeadmin}">
                                <td th:text="${ admin.admin_id }"></td>
                                <td th:text="${ admin.name }"></td>
                                <td th:text="${ employee.phonenumber }"></td>
                                <td>
                                    <div class="btn-group " role="group " aria-label="Basic example ">
                                        <a th:href="@{/admin/{admin_id}/edit(nik=${ admin.admin_id })}"  class="btn btn-info text-white ">
                                            <i class='bx bx-pencil'></i>
                                        </a>
                                        <form onSubmit="return confirm('Do you really want to delete to-do?')" method="POST" action="#" th:action="@{/admin/{admin_id}/delete(admin_id=${ admin.admin_id })}">
                                            <button type="submit" class="btn btn-danger text-white "><i class='bx bx-trash'></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        
        <div th:replace="includes/base  :: footer"></div>
        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>
